{% extends 'base.html' %}

{% block title %}Login{% endblock  %}

{% block content %}

<h3>Login</h3>
</br></br>
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <input type="text" class="form-control" name='username' placeholder='Username' required>
        </div>
        <div class="mb-3">
           <input type="password" class="form-control",  name='password' placeholder='Password' required>
        </div>

        <button class="btn btn-secondary">Login</button>
    </br></br>
    Not Registered? Sign Up <a href="{% url 'register' %}">Here</a>
    </form>
</div>

{% endblock %}